@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" target="_blank"class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ↓ this is the description that shows up in the search engine ↓ -->
    <meta name="description"
          content="ABGradeManager system is a leading technology solution to maintain classroom, student, and assignment information.
      Track information for all of your classrooms with ease" />
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class="logo">ABGradeManager</h2>
            <div class="toggle"></div>
        </header>
        <video src="~/Videos/production ID_5198159.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h2>Welcome!</h2>
            <h3>Please enter the classrooms</h3>
            <a href="/classrooms/classrooms.html">ENTER</a>
        </div>
        <ul class="social">
            <li>
                <a target="_blank" href="https://facebook.com"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
            </li>
            <li>
                <a target="_blank"  href="https://instagram.com"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></atarget="_blank">
            </li>
        </ul>
    </section>
    <div class="menu">
        <ul>
            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
            <li>@Html.ActionLink("Students", "Index", "Students")</li>
            <li>@Html.ActionLink("Staff", "Index", "Staffs")</li>
            <li><a href="mailto:alexbennett12@live.com">Contact</a></li>
        </ul>
    </div>

    <script>
        const menuToggle = document.querySelector(".toggle");
        const showcase = document.querySelector(".showcase");

        menuToggle.addEventListener("click", () => {
            menuToggle.classList.toggle("active");
            showcase.classList.toggle("active");
        });
    </script>
</body>
</html>

